<section id="welcome" class="d-flex justify-content-center align-items-center">

  <div class="container carousel carousel-fade">

    <div class="carousel-item active">
        <h2 class="animate__animated animate__fadeInDown">{{"WELCOME.TITLE" | translate}}</h2>
        <p class="animate__animated animate__fadeInUp">{{"WELCOME.TEXT" | translate}}</p>
    </div>

  </div>

</section>

<section class="intro">
  <div class="container">

    <div class="section-title">
      <h2>{{"WELCOME.SUBTITLE" | translate}}</h2>
      <p>{{"WELCOME.INTRO" | translate}}</p>
    </div>

    <div class="row">
      <div class="col-md-5">
        <img src="assets/img/landing/features-1.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-4">
        <h3>{{"WELCOME.FIRST" | translate}}</h3>
        <p class="fst-italic">
          {{"WELCOME.FIRST-IDEA" | translate}}
        </p>
        <ul>
          <li>{{"WELCOME.FIRST-POINT1" | translate}}</li>
          <li>{{"WELCOME.FIRST-POINT2" | translate}}</li>
          <li>{{"WELCOME.FIRST-POINT3" | translate}}</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 order-1 order-md-2">
        <img src="assets/img/landing/features-2.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1">
        <h3>{{"WELCOME.SECOND" | translate}}</h3>
        <p class="fst-italic">
          {{"WELCOME.SECOND-IDEA" | translate}}
        </p>
        <p>
          {{"WELCOME.SECOND-PARAGRAPH" | translate}}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <img src="assets/img/landing/features-3.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5">
        <h3>{{"WELCOME.THIRD" | translate}}</h3>
        <p>{{"WELCOME.THIRD-IDEA" | translate}}</p>
        <ul>
          <li>{{"WELCOME.THIRD-POINT1" | translate}}</li>
          <li>{{"WELCOME.THIRD-POINT2" | translate}}</li>
          <li>{{"WELCOME.THIRD-POINT3" | translate}}</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 order-1 order-md-2">
        <img src="assets/img/landing/features-4.svg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1">
        <h3>{{"WELCOME.FOURTH" | translate}}</h3>
        <p class="fst-italic">{{"WELCOME.FOURTH-IDEA" | translate}}</p>
        <p>{{"WELCOME.FOURTH-PARAGRAPH" | translate}}</p>
      </div>
    </div>

  </div>

</section>


