#footer {
  background: rgba(7, 33, 45, 0.8);
  padding: 0 0 10px 0;
  color: #fff;
  font-size: 14px;

  & .copyright {
    text-align: center;
    padding-top: 20px;
  }
  & .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
}

