<footer id="footer">
  <div class="container">
  <div class="copyright">
    &copy; Copyright <strong><span>qqftech</span></strong>. {{"FOOTER.RIGHTS" | translate}}
  </div>
  <div class="credits">
    {{"FOOTER.DESIGNED" | translate}}
  </div>
</div>
</footer>
