<h5>{{title}}</h5>

<div class="mb-3 mt-3">
  <p-table [value]="notas" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="150px" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Nota</th>
        <th>Info</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-nota>
      <tr>
        <td>{{nota.value}}</td>
        <td>{{nota.info | translate}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
