.titulo {
  background-image: url("tecnologia.png");
  height: 140px;
  padding-top: 0.5%;
  text-align: center;
  color: black;
  font-weight: bold;
}

.subt {
  text-align: center;
  padding-top: 40px;
  margin: 1%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 3%;
  margin-left: 10%;
  margin-right: 20%;
}

.row2 {
  display: flex;
  flex-direction: row;
  gap: 100px;
  justify-content: center;
}

.images {
  padding-bottom: 110px;
}





