<div class="titulo d-flex align-items-center justify-content-center">
  <h1 style="font-size: 60px"><strong>Tecnologías </strong></h1>
</div>

<div class="subt">
  <h2 style="font-size: 35px"><strong>Trabajamos con las mejores tecnologías <br>y metodologías a nivel
    internacional</strong></h2>
</div>


<div class="images">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2">
      <a href="https://angular.io/"><img src="assets/angular.png" height="160" weight="160"></a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <a href="https://about.gitlab.com/"><img src="assets/gitlab.png" height="160" weight="160"></a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <a href="https://www.mysql.com/"><img src="assets/mysql.png" height="120" weight="120"></a>
    </div>
  </div>

  <div class="row2">
    <div class="col-lg-2 col-md-2 col-sm-2">
      <a href="https://spring.io/projects/spring-boot"><img src="assets/spring.png" height="100" weight="100"></a>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <a href="https://www.docker.com/"><img src="assets/docker.png" height="95" weight="95"></a>
    </div>
  </div>
</div>
