.containerMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  img {
    width: 15rem;
    height: 20rem;
    border-radius: 30%;
    box-shadow: 0.1rem 0.7rem 1rem rgba(0, 0, 0, 0.3);
  }

  strong {
    font-size: 2rem;
    max-width: 16rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
