.fondo{
  padding: 11rem 0 9rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 670px;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}


@media screen and (max-width: 60em) {
  .fondo {
    padding: 1.5rem 10%;
    min-width: unset;
    max-width: unset;
  }
}

@media screen and (max-width: 40em) {
  .fondo {
    padding: 1rem;
    .row img {
      /*width:45px;
      height:45px;*/
      display:none;
    }
    .row label{
      font-size:16px;
    }

    .row input{
      width: 180px;
      float:right;
    }
  }
}


.register p{
text-align: center;
  //border-bottom: 1px solid;
  padding-top: 1rem;
}
.register a{
  color:black;
  text-decoration: none;
  font-size: 19px;
}

.register a:hover{
  text-decoration:underline;
}


