<div class="fondo">

  <div class="alert alert-danger" *ngIf="errorMessage === 1">{{'error.ERROR' | translate}}</div>
  <div class="alert alert-danger" *ngIf="errorMessage === 2">{{'error.CREDENTIALS' | translate}}</div>

  <section class="formulario1">

    <div class="p-col-12 mb-5">
      <h1>{{'LOGIN.TITLE' | translate}}</h1>
    </div>
    <p style="font-size: 21px">{{'LOGIN.INTRO' | translate}} </p>

    <div class="p-fluid">

      <div class="row">
        <div class="p-field col-2">
          <IMG SRC="assets/llaves.png"  name="img" hspace="10" vspace="10" width="70" height="70" style="float: none;">
        </div>
        <div class="p-field col-10">
          <div class="row">
            <div class="p-field col-2">
              <label>{{'register.NUMBER' | translate}} </label>
            </div>
            <div class="p-field col-9">
              <input
                [(ngModel)]="user.noEnrollment"
                placeholder="a19001"
                name="name"
                pInputText>
            </div>

          </div>

          <div class="row">
            <div class="p-field col-2">
              <label>{{'LOGIN.PASSWORD' | translate}}</label>
            </div>
            <div class="p-field col-9">
              <input type="password" [(ngModel)]="user.password" pInputText>
            </div>
          </div>

          <br>
        </div>
        <div class="row">
          <div class="p-col-12 p-d-flex p-jc-end">
            <button pButton
                    pRipple
                    (click)="login()"
                    class="p-button-raised fit"
                    type="submit" icon="p-hidden"
                    [label]="'LOGIN.SUBMIT' | translate"
                    [loading]="loading"
                    loadingIcon="pi pi-spin pi-spinner">
            </button>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="register">
            <p><a href="register"> {{"LOGIN.HAVE_ACCOUNT" | translate}}</a></p>
          </div>
        </div>
      </div>


    </div>
  </section>
</div>





