<div class="container-fluid">

  <div class="row">

    <div class="col-8 left">

      <div class="col-2 center miniNavBar">
        <button class="border-0" type="button" (click)="changeMenuNavBar()">
          <span class="pi pi-bars"></span>
        </button>
      </div>

      <div class="col-3 justify-content-start center">
        <img class="logo" src="assets/img/logo.png" (click)="openLandingPage()" alt="Logo">
      </div>

      <div class="col-2 center principalNavBar">
        <button pButton
                pRipple
                [label]="'NAV_BAR.TECHNOLOGIES' | translate"
                icon="p-hidden"
                class="p-button-rounded p-button-text col-lg-10"
                (click)="openTechPage()"></button>
      </div>

      <div class="col-2 center principalNavBar">
        <button pButton
                pRipple
                [label]="'NAV_BAR.TEAM' | translate"
                icon="p-hidden"
                class="p-button-rounded p-button-text col-lg-10"
                (click)="openTeamPage()"></button>
      </div>

    </div>


    <div class="col-4 right">

      <div class="col-4 center principalNavBar" *ngIf="!isLogged()">
        <button pButton
                pRipple
                [label]="'NAV_BAR.LOGIN' | translate"
                icon="pi pi-users"
                class="p-button-rounded p-button-secondary"
                (click)="openLoginPage()"></button>
      </div>

      <div class="col-4 center principalNavBar" *ngIf="!isLogged()">

        <button pButton
                pRipple
                [label]="'NAV_BAR.REGISTER' | translate"
                icon="pi pi-user-plus"
                class="p-button-rounded p-button-secondary"
                (click)="openRegistrationPage()"></button>
      </div>

      <div class="col-4 center principalNavBar" *ngIf="isLogged() && isLeader()">
        <button pButton
                pRipple
                [label]="'NAV_BAR.LEADER' | translate"
                icon="p-hidden"
                class="p-button-rounded p-button-text col-lg-9"
                (click)="openSecretPage()"></button>
      </div>

      <div class="col center" *ngIf="isLogged()">
        <img id="discord" src="assets/img/discord.svg" alt="Logo" height="80px"
             (click)="openDiscord()"/>
      </div>

      <div class="col-4 center principalNavBar" *ngIf="isLogged()">
        <button pButton pRipple [label]="'NAV_BAR.DISCONNECT' | translate"
                icon="p-hidden"
                class="p-button-rounded p-button-danger col-lg-11"
                (click)="disconnect()"></button>
      </div>

      <div class="col center">
        <img class="lang" *ngIf="selectedLanguage==='es'" (click)="changeLanguage()" src="assets/img/lang/es.png"
             alt="ESP">
        <img class="lang" *ngIf="selectedLanguage==='en'" (click)="changeLanguage()" src="assets/img/lang/en.png"
             alt="ENG">
      </div>

    </div>

  </div>

  <div [hidden]="!showNavBarMenu" class="miniNavBar">
    <button pButton pRipple class="col-6 p-button-text p-button-rounded p-button-sm"
            (click)="changeMenuNavBar(); openTechPage()">{{'NAV_BAR.TECHNOLOGIES' | translate}}</button>
    <button pButton pRipple class="col-6 p-button-text p-button-rounded p-button-sm"
            (click)="changeMenuNavBar(); openTeamPage()">{{'NAV_BAR.TEAM' | translate}}</button>
    <button pButton pRipple *ngIf="isLogged() && isLeader()" class="col-6 p-button-text p-button-rounded p-button-sm"
            (click)="changeMenuNavBar(); openSecretPage()">{{'NAV_BAR.LEADER' | translate}}</button>
    <hr class="m-0">
    <button pButton pRipple *ngIf="!isLogged()" class="col-6 p-button-text p-button-rounded p-button-sm"
            (click)="changeMenuNavBar(); openLoginPage()">{{'NAV_BAR.LOGIN' | translate}}</button>
    <button pButton pRipple *ngIf="!isLogged()" class="col-6 p-button-text p-button-rounded p-button-sm"
            (click)="changeMenuNavBar(); openRegistrationPage()">{{'NAV_BAR.REGISTER' | translate}}</button>
    <button pButton pRipple *ngIf="isLogged()" class="col-6 p-button-text p-button-rounded p-button-sm"
            (click)="changeMenuNavBar(); disconnect()">{{'NAV_BAR.DISCONNECT' | translate}}</button>
  </div>

</div>

