@import "src/styles";

.container-fluid {
  background-color: $text-secondary-color;
  border-bottom: solid 1px $main-color-border;
}

.center {
  display: flex;
  justify-content: center; // --> centra en eje vertical |
  align-items: center; //centra en eje horizontal --
}

.left {
  display: flex;
  justify-content: left;
  align-items: center; //centra en eje horizontal --
}

.right {
  display: flex;
  justify-content: right;
  align-items: center; //centra en eje horizontal --
}

.p-button-danger {
  opacity: 0.95;
}

.logo {
  width: 8rem;
  height: 8rem;
  cursor: pointer;
}

.lang,
#discord {
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 1300px) {
  .principalNavBar {
    display: none;
  }
  .miniNavBar {
    display: block;
  }
}

@media only screen and (min-width: 1300px) {
  .principalNavBar {
    display: block;
  }
  .miniNavBar {
    display: none;
  }
}
