<div class="register-container">

  <div class="alert alert-danger" *ngIf="error===1">{{'error.USEREXISTS' | translate}}</div>
  <div class="alert alert-danger" *ngIf="error===2">{{'error.ERROR' | translate}}</div>

  <div class="p-col-12 mb-5">
    <h1>{{'register.REGISTER' | translate}}</h1>
  </div>


  <form (ngSubmit)="registerUser()" [formGroup]="form">

    <div class="p-fluid">

      <div class="row">
        <!--Name-->
        <div class="p-field col-8">
          <label for="name">{{'register.NAME' | translate}}</label>
          <input placeholder="NELSON MEDINILLA"
                 name="name"
                 id="name"
                 class="p-text-uppercase"
                 formControlName="name"
                 pInputText>
        </div>

        <!--Matricula-->
        <div class="p-field col-4">
          <label for="numberPlate">{{'register.NUMBER' | translate}}</label>
          <input placeholder="a19001"
                 name="numberPlate"
                 id="numberPlate"
                 formControlName="numberPlate"
                 pInputText>
        </div>
      </div>

      <!--Email-->
      <div class="row">
        <div class="p-field col-12">
          <label for="email">{{'register.EMAIL' | translate}}</label>
          <input type="email"
                 name="email"
                 placeholder="email@alumnos.upm.es"
                 id="email"
                 formControlName="email"
                 pInputText>
        </div>
      </div>

      <!--Description-->
      <div class="row">
        <div class="p-field col-12">
          <label for="description">{{'register.DESCRIPTION' | translate}}</label>
          <input name="description"
                 id="description"
                 formControlName="description"
                 pInputText>
        </div>
      </div>

      <div class="row">
        <!--Password-->
        <div class="p-field col-6">
          <label for="password">{{'register.PASS' | translate}}</label>
          <p-password [toggleMask]="true"
                      [feedback]="true"
                      id="password"
                      formControlName="password"
                      pattern="{{RegExPass}}"
                      (ngModelChange)="onPasswordChange(form)"
                      [inputStyleClass]="passwordConditions() ? 'ng-invalid ng-dirty' : ''">
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p>{{'register.PASS_REGEX' | translate}}</p>
              <ul>
                <li [ngClass]="{'check-li': containsLowercase,'cross-li': !containsLowercase}">{{'register.LOWERCASE' | translate}}</li>
                <li [ngClass]="{'check-li': containsUppercase,'cross-li': !containsUppercase}">{{'register.UPPERCASE' | translate}}</li>
                <li [ngClass]="{'check-li': containsNumber,'cross-li': !containsNumber}">{{'register.NUMBER_MIN' | translate}}</li>
                <li [ngClass]="{'check-li': containsMinLength,'cross-li': !containsMinLength}">{{'register.LENGTH' | translate}}</li>
              </ul>
            </ng-template>
          </p-password>
        </div>

        <!--Password confirmation-->
        <div class="p-field col-6">
          <label for="passwordConfirmation">{{'register.PASS_CONFIRM' | translate}}</label>
          <p-password [toggleMask]="true"
                      [feedback]="false"
                      id="passwordConfirmation"
                      formControlName="passwordConfirmation"
                      pattern="{{RegExPass}}"
                      [inputStyleClass]="passwordMatchValidator(form) ? 'ng-invalid ng-dirty' : ''">
          </p-password>
        </div>
      </div>

      <div class="row">
        <div class="p-field col-12">
          <h5>{{'register.TERMSANDCOND'| translate}}</h5>
          <p>{{'register.TERMSANDCONDLONG'| translate}}</p>
          <p-checkbox class="mb-3"
                      value="false"
                      label="{{'register.TERMS' | translate}}"
                      id="terms"
                      formControlName="terms"
                      [binary]="true">
          </p-checkbox>
        </div>
      </div>
      <div class="p-col-12 p-d-flex p-jc-end">
        <button pButton
                pRipple
                class="p-button-raised fit"
                type="submit" icon="p-hidden"
                [label]="'register.BTN_REGISTER'|translate"
                [loading]="loading"
                loadingIcon="pi pi-spin pi-spinner"
                [disabled]="!form.valid || this.passwordMatchValidator(form) !== null">
        </button>
      </div>


    </div>

  </form>
</div>
