@import '~src/styles';
@import '~primeicons/primeicons.css';

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;
}

.register-container {
  padding: 2rem 0 4rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 650px;
}

.check-li{
  list-style-type: none;
  color: green;
}

.check-li:before{
  content:"\2713\0020";
}

.cross-li{
  list-style-type: none;
  color: red;
}

.cross-li:before{
  content:"\2A2F\0020";
}

@media screen and (max-width: 60em) {
  .register-container {
    padding: 1.5rem 10%;
    min-width: unset;
    max-width: unset;
  }
}

@media screen and (max-width: 40em) {
  .register-container {
    padding: 1rem;
  }
}

:host ::ng-deep .p-selectbutton .p-button.p-highlight {
  background: $main-color;
  border-color: $main-color;
  color: var(--primary-color-text);
}

:host ::ng-deep .p-selectbutton .p-button.p-highlight:hover {
  filter: brightness(106%);
}
