.container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0 0 2rem 0;
  max-width: 100vw;
  gap: 3rem;

  .center {
    margin: auto;
  }

  .member-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, min-content));
    justify-content: center;
    gap: 4rem;
  }

}
