<div class="container">

  <div *ngIf="!executives || !developers; else content" class="center" style="height: 75vh">
    <p-progressSpinner class="center"></p-progressSpinner>
  </div>

  <ng-template #content>
    <h1 class="center"><strong>{{"Team.EXEC" | translate}}</strong></h1>

    <div class="member-row">
      <app-team-member
        *ngFor="let exec of executives"
        [member]="exec"
      ></app-team-member>
    </div>

    <h1 class="center"><strong>{{"Team.DEV" | translate}}</strong></h1>

    <div class="member-row">
      <app-team-member
        *ngFor="let dev of developers"
        [member]="dev"
      ></app-team-member>
    </div>
  </ng-template>
</div>
