<div class="landing-container p-d-flex p-flex-column p-ai-center p-px-2 p-px-sm-3 p-px-md-4 p-py-2">
  <img class="logo-center" src="assets/img/logo.png" alt="Logo">
  <h1>{{'notFound.NOT_FOUND' | translate}}</h1>
  <button pButton
          pRipple
          [label]="'notFound.BACK_HOME' | translate"
          icon="pi pi-home"
          class="p-button-rounded p-button-raised"
          (click)="openReturnHomePage()"></button>
</div>


