
$bg-color-dark: #eaeaea;
$main-color-border: #e8e5e5;
$main-color: #31AECB;


.logo-center {
  display: block;
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  margin-bottom: 1rem;
  max-width: 60%;
}

.landing-container{
    margin: auto;
    width: 60%;
    padding: 10px;
  }

button{
  width:20%;
  margin-left:40%;
  margin-right:40%;
}
